/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.custom-container {
  width: 96%;
  margin: 0 auto;
}

.mm-paginator {
  font-size: 16px;
}

.mm-paginator a {
  padding: 5px 9px;
  border-radius: 5px;
  margin: 3px;
}

.mm-paginator a.active {
  border: 1px solid $blue;
  color: $blue;
  background-color: #fff;
  cursor: default;
}

.mm-paginator {
  #mm-p-prev {
    border: 1px solid $grey;
    background: #fff;

    color: black;
    cursor: pointer;
    &:hover {
      border: 1px solid $blue;
      color: $blue;
      background-color: #fff;
      cursor: pointer;
    }
  }
  #mm-p-next {
    border: 1px solid $grey;
    background: #fff;

    color: black;
    cursor: pointer;
    &:hover {
      border: 1px solid $blue;
      color: $blue;
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.mm-paginator a.none {
  border: 1px solid $grey;
  background: #fff;
  color: black;
  cursor: pointer;
}

.mm-paginator a.empty {
  margin-left: -6px;
  margin-right: -6px;
}

.mm-paginator a:hover:not(.empty) {
  border: 1px solid $blue;
  color: $blue;
}
.ng-trigger {
  width: 200px;
}
